/* Fonts */
@font-face {font-family: "Helvetica Neue LT Std"; src: url("fonts/HelveticaNeueLTStd-Th.otf") format("truetype"); font-weight: 100;}
@font-face {font-family: "Helvetica Neue LT Std"; src: url("fonts/HelveticaNeueLTStd-Md.otf") format("truetype"); font-weight: 400;}
/* All Viewports */
html,
body {
	width: 100%;
	height: 100%;
	font-family: "Helvetica Neue LT Std";
	color: #fff;
	text-align: center;
}
#backgr {
	width: 100%;
	height: 100%;
	position: fixed;
	background: url(backgr.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
	filter: grayscale(0%) brightness(95%);
}
#wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
}
/* Navigation */
.navbar {
	max-width: 900px;
	margin: auto;
}
@media (min-width: 900px) {
	.navbar {
padding: .5rem 0rem;
	}
}
/*
@media (max-width: 900px) {
	*/
.navbar .navbar-header {
	margin: auto;
	width: 100%;
}
.navbar .container-fluid {
	padding: 0;
}
.navbar-default .navbar-collapse {
	flex-direction: row;
	max-width: 300px;
	margin: auto;
	display: block;
	margin-bottom: 1rem;
}

.navbar-left{
	display: none;
}
.navbar-nav {
	flex-direction: row;
	max-width: 385px;
	margin: auto;
}
.navbar-default .navbar-nav li {
	margin: auto;
}
/*
}
*/

.navbar-default .navbar-brand {
	color: #0000004d;
	font-size: 34px;
	text-shadow: 0px 1px #0000001a;
	margin: auto;
}
.navbar-default .navbar-collapse {
	display: block;
}

.navbar-default .navbar-nav li a {
	color: #0006;
	font-weight: 100;
	text-decoration: none;
}

.btn {
	padding: 0;
}
.navbar-default .navbar-brand span{
	color: #fff;
	font-weight: 100;
}
.navbar-default .navbar-nav .follow {
	color: #0006;
	text-decoration: underline;
	padding: 10px 0px 5px 5px;
}
@media (min-width: 768px) {
.navbar-default .navbar-nav .follow {
	font-size: 16px;
	padding: 9px 10px 0px 5px;
}
}
.navbar-default .navbar-nav li a:focus,
.navbar-default .navbar-nav li a:hover {
	color: #fff;
}
.navbar-default .navbar-left li a {
	font-size: 16px;
	padding: 5px 15px;
}
@media (min-width: 768px) {
.navbar-default .navbar-left li a {
	padding: 10px 5px
}
}
#content-wrapper {
	margin: auto;
	box-shadow: 0px 10px 55px -30px #000;
}
header{
	margin: auto;
	position: relative;
	z-index: 1;
	background: #0F4560 url(backgr.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
	margin-bottom: 0px;
}
.jumbotron {
	background-color: transparent;
	padding: 6.5rem 1rem 6rem 1rem;
	max-width: 900px;
	margin: auto;
	border-radius: 0;
}
.jumbotron .container {
padding: 0;
}
h1 {
	font-weight: 100;
	text-shadow: 1px 1px #0000001a;
	font-size: 2rem;
}






#eatsleepraverepeatwrap {
	font-size: 2rem;
	margin: auto;
	display: flex;
	color: #0006;
	text-shadow: 1px 1px #0000001a;
	max-width: 402.567px;
}

#eatsleepraverepeat1 {
display: inline-flex;
}
#eatsleepraverepeat2 {
display: inline-flex;
}
.align1 {

}
.align2 {


}
.align3 {


}
.align4 {


}



@media (max-width: 435px) {
	#eatsleepraverepeatwrap {


	max-width: 211.65px;
	}
	#eatsleepraverepeat1 {
display: flex;
}
	#eatsleepraverepeat2 {
margin-left: -212px;
margin-top: 28px;
font-size: 2.22rem;
}
h1 {

	font-size: 1.85rem;
}
.jumbotron {

	padding: 6rem 1rem 6rem 1rem;

}
}