@font-face {font-family: 'Helvetica Neue LT Std'; src: url('fonts/HelveticaNeueLTStd-Th.otf') format('truetype'); font-weight: 100;}
@font-face {font-family: 'Helvetica Neue LT Std'; src: url('fonts/HelveticaNeueLTStd-Md.otf') format('truetype'); font-weight: 400;}

/* All Viewports */
html {

}
body {
  margin: 0px;
  font-family: 'Helvetica Neue LT Std';
  font-weight: 100;
  color: #fff;
}

#landing {
  background-image: url('backgr.jpg');
  background-size: cover;
  position: relative;
}
#header {
  position: absolute;
  top: 50%;
  width: 100%;
  -ms-transform: translate(0,-50%); /* IE 9 */
  -webkit-transform: translate(0,-50%); /* Safari */
  transform: translate(0,-50%);  
}


#content{
  padding:100px 50px;
  text-align:center;
  width:80%;
  margin:0px auto;
}


#footer{
  padding:30px 0px;
  text-align:center;
  background:#ddd;
}






a {

}
a:hover {
	
}
h1 {
	font-weight: 100;
	margin-bottom: 2.5rem;
}
p {
	color: rgb(217,65,30);
}
.btn {
	/*
	background-color: rgb(217,65,30);
	border-color: rgb(217,65,30);
	color: #fff;
	*/
}
.kontakt {
	margin-left: .5rem;
	color: #fff;
	border-color: #fff;
}

.container-fluid {
	max-width: 1024px;
}

.navbar-dark .navbar-nav .nav-link {
	
	color: #fff;
}





/* Navbar-Brand */
.navbar {
	background-color: rgba(255, 255, 255, 0.2);
}
.navbar-brand {
	font-size: 2rem;
	font-weight: 400;
	color: #0000004d !important;
	text-shadow: 0px 1px #0000001a;
}
.navbar-brand span {
	color: #fff;
	font-weight: 100;
}
.navbar-dark .navbar-nar .nav-link {
	color: #fff;
}


.navbar-text {
	padding: .5rem;
	text-decoration: underline;
}



.services{
	text-align: center;
}
.jumbotron {
	background-color: transparent;
	border-radius: 0;
		box-shadow: 0px 0px 10px -5px #000 inset;
}
/*
.parallax {
    height: 100%;
    background-image: url('backgr.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/