body {
	height: 100%;
	font-family: 'Heebo', sans-serif;
}
a {
	color: #28a745;
}
a:hover {
	color: #28a745;
	text-decoration: none;
}
p {
	/*
	margin-bottom: 0;
	*/
}
input:focus,
textarea:focus {
	box-shadow:0 0 0 .2rem rgba(40,167,69,.5) !important;
}
.container-fluid {
	max-width: 1140px;
}
section {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;	
}
.position::before {
	display: block;
	content: "";
	height: 66px;
	margin-top: -66px;
	visibility: hidden;
} 


/* --- Navbar --- */

nav {
	box-shadow: 0px 0px 10px -5px #000;
}
.bg-light {
	background: #fff !important;
}
.navbar-brand {
	font-size: 2rem;
	color: #28a745 !important;
	font-weight: 700;
	line-height: 1rem;
	padding-top: .5rem;
}
.navbar-brand span {
	font-weight: 400;
	color: #00000080 !important;
}
.navbar-brand-sub {
	font-size: .9rem;
	margin-left: 1px;
}
nav .btn-success {
	box-shadow: 0 0 0 .2rem rgba(40,167,69,.5);
}
nav .form-inline {
	padding-top: .5rem;
	padding-bottom: .5rem;
}

/* --- Navbar --- */

#backgr {
	background: url(backgr.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
}
#backgr-green {
	background-color: #28a745;
	box-shadow: 0px 0px 10px -5px #000 inset;
	color: #fff;
}
.jumbotron {
	height: calc(100vh - 7em);
	display: flex;
	align-items: center;
	padding: 16em 1em 10.5em 1em;
	background-color: #000000b3;
	box-shadow: 0px 0px 10px -5px #000 inset;
	margin-bottom: 0;
}
.jumbotron h1 {
	color: #fff;
	text-shadow: 1px 1px 2px #000;
	font-weight: 700;
	text-transform: uppercase;
}
.jumbotron p {
	color: #fff;
	text-shadow: 1px 1px 2px #000;
	margin-bottom: 1.5rem;
}
.jumbotron .btn-lg {
	padding: 1rem 1.5rem;
}
#dienstleistungen .right{
	padding-left: 43px;
}
#dienstleistungen hr {
	margin-left: 43px;
	margin-top: 0;
	margin-bottom: .5rem;
}
.fa-8x {
	line-height: 0;
}
.text-muted {
	margin-bottom: 2rem;
}
#map{
	width: 100%;
	height: 400px;
	margin-bottom: 1rem;
}
.text-muted-light {
	margin-bottom: 2rem;
	color: #cfcfcf;
}
.leistung {
	background: #28a745;
	padding: 15px;
	border-radius: 4px;
}
.form-control {
	padding: .75rem 1rem;
}
#message {
	height: 180px;
}
footer {
	padding: 1rem 0rem;
	background: #fff;
	box-shadow: 0px 0px 10px -5px #000;
}
footer p {
	margin-bottom: 0rem;
}
footer span {
	font-weight: 700;
	color: #28a745;
}


/* --- Media Queries --- */

@media (min-width: 768px) {
.jumbotron h1 {
	font-size: 3.5rem;
}
.jumbotron p {
	font-size: 1.5rem;
}
}
@media (max-width: 1184px) {
.navbar-expand-md > .container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}
}
@media (max-width: 767.99px) {
.spacer {
	margin-bottom: 1rem;
}
.notvisible {
	display: none;
}
}
@media (max-width: 992px) {
nav .btn {
	width: 100%;
}
#backgr {
	background-attachment: scroll;
}
}
@media (min-width: 992px) {
.form-inline {
	margin-left: 1rem;
}
}